<div id="search_form_area" class="">

    <%= form_with(model: search) do |f| %>

        <div id="search_condition_area" class="flex center">

            <div id="search_main_area" class="container center">

                <div id="search_jobtitle">
                    <label for="jobtitle" class="form_label">Job Title</label>
                    <%= f.text_field :jobtitle, id:"jobtitle", class: "form-control form_line" %>
                </div>

                <hr>

                <div>
                    <div class="form_horizontal_display">
                        <label for="temp_minimum" class="form_label">生育温度</label>
                        <%= f.number_field :temp_minimum, id:"temp_minimum", class:"form-control small_number_field", min: 40, max: 106 %>
                        <%= f.label :temp_minimum, "℃" %>

                        <p>~</p>

                        <%= f.number_field :temp_maximum, class:"form-control small_number_field", min: 40, max: 106 %>
                        <%= f.label :temp_maximum, "℃" %>
                    </div>
                </div>

                <hr>

                <div id="search_seqInputArea">
                    <label for="seq" class="form_label py-3 pe-2">Query配列</label>
                    <%= f.text_area :sequence, id:"seq", class:"form-control form_text_area" %>
                </div>
                
                <hr>

                <div id="search_blast_engine">
                    <label class="form_label">BLAST検索方法</label><br>
                    <%= f.radio_button :search_blast_engine, :blastn, :checked => true %> BLASTn
                    <%= f.radio_button :search_blast_engine, :tblastn %> tBLASTn
                </div>
            </div>

        </div>
        <div class="align_center py-5">
            <%= f.submit "検索開始", class: "btn btn-primary" %>
        </div>
    <% end %>
</div>