<!DOCTYPE html>
<html>
  <head>
    <title>Thermogene</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'es-module-shims.min' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %> 
    <%= yield %>
    <%= render 'layouts/footer' %>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>

  </body>
</html>